*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cards{
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  grid-gap:10px;
}
.card{
  max-width: 300px;
  margin: auto;
  text-align: center;
}
img{
   
    height: 300px;
}